build/
*.ipr
fabric/run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/

.classpath
.project
common/build
.idea/
classes/
fabric/run
.gradle
.metadata
.cs_data
.vscode
.settings
*.launch.DS_Store
.DS_Store
.architectury-transformer/
